:root{
    --color-principal:#c7c2c2;
    --color-text__primary:#000;
    --color-text__secondary:rgb(163, 27, 27);

}
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 60px;
    background-color:var(--color-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 20px;
}
.menu-toggle{
    margin-right: 30px;
    background: none;
    border: none;
    color: var(--color-text__secondary);
    font-size: 25px;
}

header nav{
    position: absolute;
    top: 62px;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--color-principal);
    transition: .3s ease-in-out;
    overflow: hidden;

}
.mostrar{
   width: 100vw;
   /* ]width:100%;   */
}
header nav ul{
    position: absolute;
    /* right: 0; */
    left: 20%;
    list-style: none;
    margin-top: 40px;

}
header nav ul li a{
    color: var(--color-text__secondary);
    text-decoration:none;
    text-transform:uppercase ;
    line-height: 60px;

}
@media screen and (min-width:768px)  {
    .menuToggle{
        display: none;
    
    }   
}


